* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #444;
}

#grid-containter {
  display: grid;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
  grid-template-columns: fit-content(300px) 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

#grid-containter header {
  grid-area: header;
}

#grid-containter aside {
  grid-area: sidebar;
}

#grid-containter section {
  grid-area: main;
}

#grid-containter footer {
  margin-top: 50px;
  text-align: center;
  height: 100px;
  grid-area: footer;
}

/* media */
@media (max-width: 900px) {
  #grid-containter {
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
  }

  #grid-containter aside {
    display: none;
  }
}

.css-property {
  color: red;
}

/* sidebar */
ul.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;
}

/* counter in sidebar */
/* sidebar */
ul.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;
}

/* counter in sidebar */
#grid-containter aside {
  counter-reset: step;
}

#grid-containter aside ul {
  padding: 20px;
}

#grid-containter aside ul li a::before {
  counter-increment: step;
  content: 'Part ' counter(step) ': ';
}

#grid-containter aside ul li a {
  color: grey;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

#grid-containter aside ul li a:hover {
  color: blue;
}

#grid-containter aside ul li {
  list-style: none;
}

/* common */

article {
  margin-left: 20px;
}

article h3 {
  color: cornflowerblue;
  padding: 20px;
  font-size: 30px;
}

article h4 {
  color: cornflowerblue;
  padding: 15px;
  font-size: 20px;
}

pre {
  border-radius: 5px;
}

.list-style-type-none {
  list-style-type: none;
}

article pre {
  padding: 0px !important;
  font-size: 10px !important;
  width: 800px !important;
}

ul > li,
ol > li {
  margin: 6px;
}

.sticky > li {
  margin: 0px;
}
