.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.app-header .search {
  width: 25%;
}

.app-header .logo {
  width: 50%;
}

.app-header .menu {
  width: 25%;
}

@media (max-width: 900px) {
  .app-header {
    flex-wrap: wrap;
  }
  .app-header .search {
    flex: 0 0 50%;
    order: 2;
  }

  .app-header .logo {
    flex: 0 0 100%;
    order: 1;
  }

  .app-header .menu {
    flex: 0 0 50%;
    order: 3;
  }
}

.app-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.app-footer {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-header .logo a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.app-header .menu ul li {
  display: inline-block;
  padding: 10px;
}

.app-header .menu ul li:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.app-header .menu ul li a {
  color: black;
  text-decoration: none;
}
