.posts {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  row-gap: 20px;
  column-gap: 20px;
}

.posts a {
  text-decoration: none;
}

.posts .picture-wrapper img {
  border-radius: 30px;
  width: 80%;
  max-width: 400px;
}

.post .infor .post-title {
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.post .picture-wrapper img {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}

.post .infor .description {
  color: #888;
}
